<div class="products-table">
    <dx-data-grid id="productsToBuy" [dataSource]="productsToBuy">
        <dxi-column dataField="productsToBuy" width="170" caption="Продукты на закупку"></dxi-column>
        <dxi-column dataField="priceOfP2B" width="70" caption="Цена, р"></dxi-column>
        <dxi-column dataField="amount" width="70" caption="Кол-во"></dxi-column>
        <dxi-column dataField="productsToBuy" caption="" cellTemplate="buyTemplate" [width]="120">
            <div>
                <dx-button *dxTemplate="let data of 'buyTemplate'" stylingMode="contained" text="Купить" type="success"
                    [width]="85" height="20" (onClick)="openPop(data)">
                </dx-button>
            </div>
        </dxi-column>
    </dx-data-grid>
</div>
<dx-popup [visible]="popupVisible" [width]="300" [height]="130" title="{{popupText}}">
    <div class="popup-container">
        <div class="buttons-container">
            <dx-button [text]="isValueNull(amount)" [width]="100" (onClick)="buyPr(amount)"></dx-button>
        </div>
        <dx-text-box [(value)]="amount" width="100"></dx-text-box>
    </div>
</dx-popup>

<dx-load-panel [visible]="isLoadPanelVisible"></dx-load-panel>