<div class="container">
  <h1 class="mb-3">Sell videocard</h1>
  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="addVideocard()">
        <div class="mb-3">
          <!--<label for="producer " class="form-label">Producer</label>
          <input type="text" class="form-control" id="producer"
          name="producer" [(ngModel)]="AddVideocardRequest.producerId">-->
          <div class="form-box">
            <dx-select-box
              [dataSource]="producers"
              displayExpr="name"
              valueExpr="id"
              [(value)]="AddVideocardRequest.producerId"
            ></dx-select-box>
          </div>
        </div>
        <div class="mb-3">
          <label for="model" class="form-label">Model</label>
          <input type="text" class="form-control" id="model"
                 name="model" [(ngModel)]="AddVideocardRequest.model">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price"
                 name="price" [(ngModel)]="AddVideocardRequest.price">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
